.dialog {
  padding:10px;
  position: relative;
  background-color: var(--home-color);
  border-radius: 4px;

  h1 {
    color: var(--confirm-color);
  }
}

.close_dialog {
  color: var(--error-color);
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.3);
    transition: all 0.1s ease-in-out;
  }
}

.dialog_actions {
  justify-content: space-between;
  margin-bottom: 0;
}
